body{
    
    background-color: darkslategrey;
    
}
h1{
    text-align: center;
    color: bisque
}
fieldset{
    
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-color: bisque
}
.daily{
    color: bisque;
    border-bottom: 1px solid grey;
    width: 30%;
    
}
#entry{
    size: 40%
}
#main{
    display: flex;
    justify-content: center;
    flex-direction: column
}