body{
    
    background-color: darkslategrey;
    
}
h1{
    text-align: center;
    color: bisque
}
fieldset{
    
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-color: bisque
}
.journals{
    color: bisque
}